
<!DOCTYPE html>
<html>
  <head>
    <title>add</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add Record</h1>
     <form method="post">
       name:
        <input type='text' name="usrname" />
        nationality:
        <input type='text' name="nation"/>
        <input type='submit' value='submit' name='submit'/>
      </form>
  </body>
  </html>
