<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>
     <table border='1px' style="width:50%" style="height:75%" align="center">
        <th>operations
          <tr>
         <td>Add</td>
         <td><a href="/add">click</a></td>
        </tr>

        <tr>
        <td>Update</td>
        <td><a href="/list">click</a></td>
        </tr>
        <tr>
        <td>Delete</td>
        <td><a href="/list">click</a></td>
        </tr>
        </th>

      </table>
</h2>
  </body>
</html>
