
<!DOCTYPE html>
<html>
  <head>
    <title>add</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add Record</h1>
     <form method="post">
       name:
        <input type='text' name="usrname" value="<%=result.name%>"/>
        nationality:
        <input type='text' name="nation" value="<%=result.nationality%>"/>
        <input type='submit' value='update' name='submit'/>
      </form>
  </body>
  </html>
